* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    border-bottom: 1px solid transparent;
    padding-top: 3em;
}


@keyframes waitfadein {
    0% { opacity: 0; }
    90% { opacity: 0; }
    100%   { opacity: 1; }
}

@media (max-width: 960px) {
    body {
        font-size: 16px;
    }
}

/*********
 * NAV   *
 *********/

#top-nav {
    background: rgba(0,0,0,0.7);
    position: fixed;
    height: 48px;
    width: 100%;
    padding-left: 50px;
    z-index: 100;
    overflow: hidden;
}
#top-nav ul, #top-nav li {
    display: inline;
    padding: 0;
}
#top-nav li a {
    color: #ddd;
    text-decoration: none;
    font-size: 24px;
    padding: 10px 25px;
    position: relative;
    top: 7px;
    transition: all 0.3s ease-in;
}
#top-nav a.active:not([href="#landing"]) {
    background: rgba(255,255,255,0.4);
}
#top-nav a.active[href="#landing"] img {
    visibility: hidden;
    opacity: 0;
}
#top-nav a[href="#landing"] img {
    height: 36px;
    margin-top: -20px;
    top: 11px;
    position: relative;
}
#top-nav a[href="#landing"] span {
    display: none;
}
#top-nav #collapse {
    display: none;
}

@media (max-width: 960px) {
    #top-nav {
        width: 48px;
        overflow: visible;
        padding: 0;
    }
    #top-nav ul {
        display: block;
        width: 960px;
        background: rgba(0,0,0,0.7);
        position: absolute;
        top: 0px;
        margin: 0;
        margin-left: 960px;
        z-index: 2;
        position: absolute;
        transition: margin .2s ease-out;
    }
    #top-nav #collapse {
        display: block;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        line-height: 48px;
        width: 48px;
        text-align: center;
    }
    #top-nav:hover #collapse {
        border-bottom: 72px solid transparent;
    }
    #top-nav:hover ul {
        margin-left: 48px;
    }
    #top-nav li {
        display: block;
        border-bottom: 1px solid #eee;
    }
    #top-nav li a {
        top: 0;
        padding: 16px 20px 15px;
        display: block;
        font-size: 16px;
    }
    #top-nav li a:hover {
        background: rgba(255,255,255,0.3);
    }
    #top-nav a[href="#landing"] img {
        display: none;
    }
    #top-nav a[href="#landing"] span {
        display: inline;
    }
}


/*********
 * Landing
 *********/

#landing {
    background: #99B1BD;
    background-repeat:  no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}
#landing.bg0 {
    background-image: url(../img/riesenrad01.jpg);
}
#landing.bg1 {
    background-image: url(../img/wohltemperiert.jpg);
}
#next-gig {
    background: rgba(0,0,0, 0.2);
    padding: 10px;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 20px;
}
#logo {
    padding-top: 25vh;
    width: 128px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#slogan {
    padding-top: 5vh;
    display: inline-block;
    background: rgba(0,0,0, 0.2);
    padding: 10px;
    color: #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
    max-width: 70%;
}
#slogan-source {
    color: #ccc;
}
#slogan:before {
    content: '“';
}
#slogan:after {
    content: '”';
}
#slogan, #slogan-source {
    position: relative;
    z-index: 5;
}

#horse {
    position: absolute;
    bottom: -110px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../img/pferd.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    z-index: 1;
}
#horse #tail {
    position: relative;
    background-image: url(../img/schweif.png);
    background-size: contain;
    left: -107px;
    height: 93px;
    width: 131px;
    background-repeat: no-repeat;
    opacity: .6;
    transition: all .5s ease-out;
}
#horse:hover #tail {
    opacity: 1;
    transform: rotate(10deg);
    transform-origin: 100% 55%;
}

@media (max-height: 600px) {
    #logo {
        padding-top: 50px;
    }
}

@media (max-width: 960px) {
    #logo {
        padding-top: 50px;
    }
    #slogan {
        max-width: 90%;
    }
}


/************************
 * TEXT BLOCKS          *
 * wrapper around about,*
 * live, join, and book *
 ************************/

#text-blocks {
    overflow: hidden;
    position: relative;
}
#text-backdrop {
    position: absolute;
    display: block;
    height: 400vh;
    left: 33%;
    top: 5vh;
    opacity: 0.33;
    z-index: 1;
}

.text {
    padding: 0 50px;
    position: relative;
    z-index: 5;
}

@media (max-width: 600px) {
    #text-backdrop {
        height: 400vh;
        left: -10%;
        top: -5vh;
    }
}


/*********
 * ABOUT *
 *********/

#about {
    background: #EF8696;
}

/*********
 * LIVE  *
 *********/

#live {
    background: #DAFF67;
}

.fb-page.fb_iframe_widget, .fb-xfbml-parse-ignore {
    margin: 20px 50px;
    position: relative;
    z-index: 5;
}
/* fallback when Facebook widget is blocked*/
.fb-xfbml-parse-ignore {
    width: 250px;
    padding: 10px;
    background: rgba(255,255,255,0.7);
    animation: waitfadein 5s; // give fb widget 4s to load before fading in
}

/* place FB widget on right side next to text on large devices */
@media (min-width: 800px) {
    #live {
        position: relative;
        overflow-y: hidden;
    }
    #live .text {
        width: calc(100% - 280px);
    }
    .fb-page.fb_iframe_widget, .fb-xfbml-parse-ignore {
        position: absolute;
        right: 50px;
        top: 70px;
        margin: 0;
    }
}

/*********
 * JOIN  *
 *********/

#join {
    background: #91F8B6;
}


/*********
 * BOOK  *
 *********/

#book {
    background: #CDFBFF;
}


@media (min-width: 960px) {
    #join, #book {
        width: 50%;
        display: inline-block;
        float: left;
    }
    #video {
        clear: left;
    }
}


/*********
 * Video *
 *********/

#video {
    background: #4E4E4E;
}
#video iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    height: 80vh;
}

/*********
 * Photos *
 *********/

#photos {
    background: #8B7474;
}
#photos > div {
    text-align: center;
}
#photos img {
    max-height: 80vh;
    max-width: 80vw;
}
.photo-nav {
    line-height: 80vh;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #b4a7a7;
    outline: none;
    width: 50%;
    font-size: 4em;
    transition: all .2s ease-out;
    transform: scaleX(0.8);
}
.photo-nav:hover {
    color: #fff;
    transform: scaleX(1) rotate(-10deg);
}
.photo-nav:active {
    transform: scaleX(1.4) rotate(-20deg);
}

.photo-nav.prev {
    position: absolute;
    left: 0;
    text-align: left;
    padding-left: 5vw;
}
.photo-nav.next {
    position: absolute;
    right: 0;
    text-align: right;
    padding-right: 5vw;
}


/*********
 * Footer *
 *********/

footer {
    padding: 50px;
}

footer .legal {
    font-size: 0.7em;
    color: #444;
    margin-top: 2em;
}

footer .copyleft {
    display: inline-block;
    transform: scaleX(-1);
}
