html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  

body {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    border-bottom: 1px solid transparent;
    padding-top: 3em;
}

a {
    color: #f7797d;
}
a:hover,
a:focus {
    color: #f7c779;
}
a:active {
    color: #a4ffc2;
}

@keyframes waitfadein {
    0% { opacity: 0; }
    90% { opacity: 0; }
    100%   { opacity: 1; }
}

@media (min-width: 960px) {
    body {
        font-size: 1.25rem;
    }
}

/* a11y helpers */
.visually-hidden { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}


/*********
 * NAV   *
 *********/

.top-nav {
    background: rgba(0,0,0,0.7);
    position: fixed;
    height: 3rem;
    width: 100%;
    padding-left: 50px;
    z-index: 100;
    overflow: hidden;
}
.top-nav ul {
    display: flex;
    list-style: none;
    align-items: stretch;
    margin: 0;
    height: 100%;
}
.top-nav li {
    display: flex;
    align-items: center;
}
.top-nav li a {
    color: #ddd;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.3s ease-in;
    padding: 1rem 2ch;
}
.top-nav a.active:not([href="#landing"]) {
    background: rgba(255,255,255,0.4);
}
.top-nav a.active[href="#landing"] img {
    top: -50px;
}
.top-nav a[href="#landing"] img {
    height: 36px;
    margin-top: -20px;
    top: 11px;
    position: relative;
    transition: top 0.3s ease-in;
}
.top-nav a[href="#landing"] span {
    display: none;
}
.top-nav #collapse {
    display: none;
}
.top-nav .collapse-dot {
    display: block;
    width: 4px;
    height: 4px;
    margin: 2px;
    background-color: #fff;
    transition: width .2s ease-out;
}

@media (max-width: 960px) {
    .top-nav {
        width: 48px;
        overflow: visible;
        padding: 0;
    }
    .top-nav ul {
        width: calc(100vw - 48px);
        height: auto;
        flex-direction: column;
        background: rgba(0,0,0,0.9);
        position: absolute;
        top: 0px;
        margin: 0;
        padding: 0;
        z-index: 2;
        transform: translateX(100vw);
        transition: transform .2s ease-out;
    }
    .top-nav #collapse {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .top-nav:hover .collapse-dot, .top-nav:focus-within .collapse-dot {
        width: 70%;
        height: 2px;
        margin: 3px;
    }
    .top-nav:hover ul, .top-nav:focus-within ul{
        transform: translateX(48px);
    }
    .top-nav:hover ul:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 48px;
        left: -48px;
        top: 0;
    }
    .top-nav li {
        display: block;
        border-bottom: 1px solid #eee;
    }
    .top-nav li a {
        top: 0;
        padding: 16px 20px 15px;
        display: block;
        font-size: 16px;
    }
    .top-nav li a:hover {
        background: rgba(255,255,255,0.3);
    }
    .top-nav a[href="#landing"] img {
        display: none;
    }
    .top-nav a[href="#landing"] span {
        display: inline;
    }
}


/*********
 * Landing
 *********/

.section-landing {
    background: #99B1BD;
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    position: relative;
    background-image: url(../img/bg/2015-05-08_Brut_credit_Rania_Moslam_02.jpg);
}

.next-gig {
    background: rgba(0,0,0, 0.2);
    padding: 10px;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 20px;
    transition: all ease-out 0.2s;
}
.next-gig:empty {
    visibility: hidden;
}
.next-gig:hover {
    color: #922327;
    background: rgba(255,255,255, 0.6);
}
.section-landing .logo {
    padding-top: 25vh;
    width: 128px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.section-landing .slogan {
    padding-top: 5vh;
    display: inline-block;
    background: rgba(0,0,0, 0.2);
    padding: 10px;
    color: #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
    max-width: 70%;
}
.section-landing .slogan-source {
    color: #ccc;
}
.section-landing .slogan:before {
    content: '“';
}
.section-landing .slogan:after {
    content: '”';
}
.section-landing .slogan, .slogan-source {
    position: relative;
    z-index: 5;
}

.horse {
    position: absolute;
    background-image: url(../img/pferd.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}
.section-landing .horse {
    bottom: -110px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.horse .tail {
    position: relative;
    background-image: url(../img/schweif.png);
    background-size: contain;
    left: -107px;
    height: 93px;
    width: 131px;
    background-repeat: no-repeat;
    opacity: .6;
    transition: all .5s ease-out;
}
.horse:hover .tail {
    opacity: 1;
    transform: rotate(10deg);
    transform-origin: 100% 55%;
}

@media (max-height: 600px) {
    .section-landing .logo {
        padding-top: 50px;
    }
}

@media (max-width: 960px) {
    .section-landing .logo {
        padding-top: 50px;
    }
    .section-landing .slogan {
        max-width: 90%;
    }
}

.section-landing .bg-image-text {
  position: absolute;
  margin-bottom: 0px;
  bottom: -1px;
  right: 0px;
  color: #BABABA;
  background: rgba(0,0,0, 0.7);
  font-size: small;
  padding-left: 7px;
  padding-right: 7px;
}


/************************
 * TEXT BLOCKS          *
 * wrapper around about,*
 * live, join, and book *
 ************************/

.text-blocks {
    overflow: hidden;
    position: relative;
}
.text-backdrop {
    position: absolute;
    display: block;
    height: 400vh;
    left: 33%;
    top: 5vh;
    opacity: 0.33;
    z-index: 1;
}

.text {
    padding: 0 20px;
    position: relative;
    z-index: 5;
    max-width: 960px;
    margin: 0 auto;
}
.text.multicol {
    column-width: 30ch;
}

@media (max-width: 600px) {
    .text-backdrop {
        height: 400vh;
        left: -10%;
        top: -5vh;
    }
}


/*********
 * ABOUT *
 *********/

.section-about {
    background: #EF8696;
    display: flex;
    align-items: center;
}
.section-about > * {
    flex: 1 1 auto;
}

/*********
 * LIVE  *
 *********/

.section-live {
    background: #DAFF67;
    padding-bottom: 50px;
}
.live-shows {
    padding-left: 0;
}
.live-show {
    list-style: none;
    border-left: 5px solid #91F8B6;
    margin-bottom: 20px;
    background: rgba(255,255,255,0.3);
    padding-bottom: 10px;
}
.live-show > * {
    padding-left: 10px;
}
.live-show__flyer {
    display: block;
    padding: 0;
    height: 150px;
    position: relative;
}
.live-show__img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.live-show__flyer .live-show__title {
    color: #000;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 10px 5px;
    background:rgba(217,255,103,0) 50%;
    background: linear-gradient(to bottom, rgba(229, 255, 149,0) 0%, rgba(229, 255, 149,0.8) 30%, rgba(229, 255, 149,1) 100%);
}
.live-show__title {
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 10px;
    margin: 0;
}
.live-show__date-location {
    font-size: 0.9em;
    font-variant: small-caps;
}
.live-show__description {
    padding: 10px;
}

.fb-page.fb_iframe_widget, .fb-xfbml-parse-ignore {
    margin: 20px;
    position: relative;
    z-index: 5;
}
/* fallback when Facebook widget is blocked*/
.fb-xfbml-parse-ignore {
    padding: 10px;
    background: rgba(255,255,255,0.7);
    animation: waitfadein 5s; /* give fb widget 4s to load before fading in */
}

/* place FB widget on right side next to text on large devices */
@media (min-width: 800px) {
    .section-live .flex-container {
        display: flex;
        max-width: 960px;
        margin: 0 auto;
    }
    .section-live .flex-container .text {
        flex: 1 1 auto;
    }
    
    .fb-page {
        flex: 0 0 300px;
        margin: 0;
    }
}

/***************
 * JOIN & BOOK *
 **************/
 .join-book {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 }
 
 @media (min-width: 960px) {
     .join-book {
         flex-direction: row;
     }
 }

 .join-book section {
     min-height: auto;
     flex-grow: 1;
 }

.section-join {
    background: #91F8B6;
}
.section-book {
    background: #CDFBFF;
}


/*********
 * Video *
 *********/

.section-video {
    background: #4E4E4E;
}
.section-video iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    height: 80vh;
}

/*********
 * Photos *
 *********/

.section-photos {
    background: #8B7474;
}
.section-photos > div {
    text-align: center;
}
.section-photos img {
    max-height: 80vh;
    max-width: 80vw;
}
.photo-nav {
    line-height: 80vh;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #e5d3d3;
    outline: none;
    width: 50%;
    font-size: 4em;
    transition: all .2s ease-out;
    transform: scaleX(0.8);
}
.photo-nav:hover {
    color: #fff;
    transform: scaleX(1) rotate(-10deg);
}
.photo-nav:active {
    transform: scaleX(1.4) rotate(-20deg);
}

.photo-nav.prev {
    position: absolute;
    left: 0;
    text-align: left;
    padding-left: 5vw;
}
.photo-nav.next {
    position: absolute;
    right: 0;
    text-align: right;
    padding-right: 5vw;
}
#photo-title, .photo-links {
    color: #e5d3d3;
}
a.photo-links {
    z-index: 1;
    display: block;
    margin-top: 10px;
    font-size: 0.7em;
}


/*********
 * Footer *
 *********/

footer {
    padding: 50px 20px;
    max-width: 960px;
    margin: 0 auto;
}

footer .legal {
    font-size: 0.7em;
    color: #444;
    margin-top: 2em;
}

footer .copyleft {
    display: inline-block;
    transform: scaleX(-1);
}


/*******************
 * 10Jahre Special *
 *******************/

 .tenth-aniversary-special {
     position: absolute;
     top: 5rem;
     right: 5rem;
     transform: rotate(-5deg);
     transition: transform 0.3s ease-out;
 }
 .tenth-aniversary-special:hover {
     transform: rotate(-25deg);
 }
 .tenth-aniversary-special a {
     text-decoration: none;
     font-weight: 600;
     color: #fff;
     transform: rotate(10deg);
 }
.star-12 {
    background-color: #e50e7e;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
    z-index: 1;
    display: flex;
    align-items: center;
  }
  .star-12:before,
  .star-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    z-index: -1;
    transition: transform 0.3s ease-out;
    background-color: #e50e7e;
}
.star-12:before {
    transform: rotate(30deg);
  }
  .star-12:after {
    transform: rotate(60deg);
  }
  .tenth-aniversary-special:hover .star-12:before,
  .tenth-aniversary-special:hover .star-12:after {
    transform: rotate(45deg);
  }

