* {
    box-sizing: border-box;
}

body {
    font-size: 24px;
}

section {
    min-height: 100vh;
    border-bottom: 1px solid transparent;
    padding-top: 3em;
}


@keyframes waitfadein {
    0% { opacity: 0; }
    90% { opacity: 0; }
    100%   { opacity: 1; }
}

.text {
    padding: 0 50px;
}
.copyleft {
    display: inline-block;
    transform: scaleX(-1);
}

/*********
 * NAV   *
 *********/

#top-nav {
    background: rgba(0,0,0,0.7);
    position: fixed;
    height: 48px;
    width: 100%;
    padding-left: 50px;
    z-index: 1;
    overflow: hidden;
}
#top-nav ul, #top-nav li {
    display: inline;
    padding: 0;
}
#top-nav a {
    color: #ddd;
    text-decoration: none;
    font-size: 24px;
    padding: 14px 25px;
    position: relative;
    top: 10px;
    transition: all 0.3s ease-in;
}
#top-nav a.active {
    background: rgba(255,255,255,0.4);
}
#top-nav a.active[href="#landing"] {
    visibility: hidden;
    opacity: 0;
}
#top-nav img {
    height: 36px;
    margin-top: -20px;
    top: 13px;
    position: relative;
}

/*********
 * Landing
 *********/

#landing {
    background: #99B1BD;
    background-repeat:  no-repeat;
    background-size: cover;
    text-align: center;
}
#landing.bg0 {
    background-image: url(../img/riesenrad01.jpg);
}
#landing.bg1 {
    background-image: url(../img/wohltemperiert.jpg);
}
#logo {
    padding-top: 50vh;
    width: 128px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#slogan {
    padding-top: 5vh;
    display: inline-block;
    background: rgba(0,0,0, 0.2);
    padding: 10px;
    color: #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
}
#slogan-source {
    color: #fff;
}
#slogan:before {
    content: '“';
}
#slogan:after {
    content: '”';
}

.fb-page.fb_iframe_widget, .fb-xfbml-parse-ignore {
    position: absolute;
    left: 50px;
    top: 25vh;
    height: 50vh;
}
/* fallback when Facebook widget is blocked*/
.fb-xfbml-parse-ignore {
    width: 250px;
    padding: 100px 10px;
    background: rgba(255,255,255,0.7);
    animation: waitfadein 5s; // give fb widget 4s to load before fading in
}
#horse {
    position: absolute;
    top: 10vh;
    right: 50px;
    background-image: url(../img/pferd.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}
#tail {
    position: relative;
    background-image: url(../img/schweif.png);
    background-size: contain;
    left: -107px;
    height: 93px;
    width: 131px;
    background-repeat: no-repeat;
    opacity: .6;
    transition: all .5s ease-out;
}
#horse:hover #tail {
    opacity: 1;
    transform: rotate(10deg);
    transform-origin: 100% 55%;
}


/*********
 * LIVE  *
 *********/

#live {
    background: #DAFF67;
}


/*********
 * ABOUT *
 *********/

#about {
    background: #EF8696;
}


/*********
 * JOIN  *
 *********/

#join {
    background: #91F8B6;
}


/*********
 * BOOK  *
 *********/

#book {
    background: #CDFBFF;
}



/*********
 * Video *
 *********/

#video {
    background: #4E4E4E;
}
#video iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    height: 80vh;
}

/*********
 * Photos *
 *********/

#photos {
    background: #8B7474;
}
#photos > div {
    text-align: center;
}
#photos img {
    max-height: 80vh;
    max-width: 80vw;
}
.photo-nav {
    line-height: 80vh;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #aaa;
    outline:none;
}
.photo-nav:hover {
    color: #fff;
}
.photo-nav.prev {
    position: relative;
    padding-right: 200px;
    margin-right: -200px;
}
.photo-nav.next {
    position: relative;
    padding-left: 200px;
    margin-left: -200px;
}


/*********
 * Footer *
 *********/

footer {
    padding: 50px;
}

footer .legal {
    font-size: 0.5em;
    color: #444;
    margin-top: 2em;
}



@media (max-width: 600px) {
  #top-nav {
    visibility: hidden;
  }
}



