<div id="showlist">
{{~it.shows :show:index }}
    <li><strong>{{=show.title}}</strong>,
        {{=show.dateFriendly}}, {{=show.location}}
        {{? show.link }}
            <a href="{{=show.link}}" target="_blank">Infos</a>
        {{?}}
        {{? show.description }}
            <div>{{=show.description}}</div>
        {{?}}
    </li>
{{~}}
</div>


<div id="upcomming">
    <h2>Die nächsten Auftritte</h2>
    <ul>
        {{~it.shows :show:index }}
        <li><strong>{{=show.title}}</strong>,
            {{=show.dateFriendly}}, {{=show.location}}
            {{? show.link }}
                <a href="{{=show.link}}" target="_blank">Infos</a>
            {{?}}
            {{? show.description }}
                <div>{{=show.description}}</div>
            {{?}}
        </li>
    {{~}}
    </ul>
</div>
