<div id="showlist">
{{~it.shows :show:index }}
    <li class="live-show">
        {{? show.flyer }}
            <div class="live-show-flyer" style="background-image: url({{=show.flyer}});">
                <div class="live-show-title">{{=show.title}}</div>
            </div>
        {{??}}
            <div class="live-show-title">{{=show.title}}</div>
        {{?}}
        <div class="live-show-date-location">
            <date date-time="{{=show.date}}">
                {{=show.dateFriendly}}
                {{? show.time }}{{=show.time}}{{?}}
            </date>,
            {{=show.location}}
        </div>
        {{? show.link }}
            <a href="{{=show.link}}" target="_blank" rel="noopener">Website</a>
        {{?}}
        {{? show.flyer }}
            <a href="{{=show.flyer}}" target="_blank" rel="noopener">Flyer</a>
        {{?}}
        {{? show.description }}
            <div class="live-show-description">{{=show.description}}</div>
        {{?}}
    </li>
{{~}}
</div>


<div id="next-gig">
    Nächster Auftritt: {{=it.show.title}}, {{=it.show.dateFriendly}}
</div>
